.form {
    padding: 10px;
    &_group {
        display: flex;
        margin: 10px 0;

    }
    &_label {
        width: 100px;
    }

    &_textarea {
        width: 400px;
        height: 300px;
    }
    &_input {
        width: 400px;
        height: 30px;
    }
}
